/* colors */
body {
	background-color:#c0e0ff;
	color:#003;
}

.highlight {
    background-color: #ffffee;
}

a, a:visited, .link { 
    color: #225;
    text-decoration: none; 
}

a:hover, a:active, .link:hover { 
    text-decoration: underline; 
}

/* common */
.disabled {
    display: none
}

/* font, sizes & misc */

@font-face {
    font-family: SourceCodePro;
    src: url("/f/SourceCodePro-Regular.otf") format("opentype");
}

@font-face {
    font-family: SofiaProCondensedLt;
    src: url('/f/SofiaProLiCond-webfont.eot');
    src: 
        url('/f/SofiaProLiCond-webfont.eot?#iefix') 
            format('embedded-opentype'),
        url('/f/SofiaProLiCond-webfont.woff') format('woff'),
        url('/f/SofiaProLiCond-webfont.ttf') format('truetype'),
        url('/f/SofiaProLiCond-webfont.svg#sofia_pro_light_condensedRg')
            format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SofiaProLt;
    src: url('/f/SofiaProLight-webfont.eot');
    src: 
        url('/f/SofiaProLight-webfont.eot?#iefix') 
            format('embedded-opentype'),
        url('/f/SofiaProLight-webfont.woff') format('woff'),
        url('/f/SofiaProLight-webfont.ttf') format('truetype'),
        url('/f/SofiaProLight-webfont.svg#sofia_pro_lightregular')
            format('svg');
    font-weight: normal;
    font-style: normal;
}

code {
    font-family: SourceCodePro, Monospace;
    font-size: 15px;
    line-height: 1;
}

body { 
    font-family: SofiaProLt, Helvetica, Arial, sans-serif; 
    font-size: 16px;
    line-height: 1;
}

.container_12 {
    margin-top: 40px;
}

h1 {
    font-weight: bold;
    padding-bottom: 7px;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-top: 1.6em;

}

.header {
    border-bottom: dashed 1px;
    margin-bottom: 1.6em;
}

.header-summary {
    font-size: 80%;
}

h2 {
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 1.333333em;
    margin-bottom: 1.333333em;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.index ul li {
    border-bottom: solid 1px;
}

.highlight {
    padding-left: 16px;
}

.copyright {
    font:small-caps 15px normal; 
    text-align:center;
}

.pagination {
    margin-top: 15px;
    font-size: 90%;
}

.page, .previous, .next {
    padding-left: 7px;
    /*border: dashed 1px; /*dbg*/*/
}
