/* colors */
body {
	background-color:#c0e0ff;
	color:#003;
}

.highlight {
    background-color: #ffffee;
}

a, a:visited, .link { 
    color: #225;
    text-decoration: none; 
}

a:hover, a:active, .link:hover { 
    text-decoration: underline; 
}

/* common */
.disabled {
    display: none
}

/* font, sizes & misc */

@font-face {
    font-family: SourceCodePro;
    src: url("/f/SourceCodePro-Regular.otf") format("opentype");
}

code {
    font-family: SourceCodePro, Monospace;
     font-size: 15px;
    line-height: 1;
}

body { 
	    font-family: "Lucida Grande", "Segoe UI", Tahoma, Helvetica, Arial, sans-serif; 
    font-size: 16px;
    line-height: 32px;
}

.container_12 {
    margin-top: 40px;
}

h1 {
    font-weight: bold;
    padding-bottom: 7px;
    text-transform: uppercase;
    font-size: 1.875em;
    line-height: 1.066667em;
    margin-top: 1.6em;

}

.header {
    border-bottom: dashed 1px;
    margin-bottom: 1.6em;
}

.header-summary {
    font-size: 80%;
}

h2 {
    font-size: 1.5em;
    line-height: 1.333333em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

h3 {
    font-size: 1.25em;
    line-height: 1.6em;
    margin-top: 1.333333em;
    margin-bottom: 1.333333em;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.index ul li {
    border-bottom: solid 1px;
}

.highlight {
    padding-left: 16px;
}

.copyright {
    font:small-caps 15px normal; 
    text-align:center;
}

.pagination {
    margin-top: 15px;
}
